<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dapp.dapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".BaseActivity" />
        <activity android:name=".admin_module.AdminDashBoard" />
        <activity android:name=".admin_module.AddAssingnment" />
        <activity android:name=".admin_module.AddSyllabus" />
        <activity android:name=".admin_module.AddTimetable" />
        <activity android:name=".admin_module.AddAttendance" />
        <activity android:name=".admin_module.AddNotes" />
        <activity android:name=".admin_module.AddTutorial" />
        <activity android:name=".admin_module.AddNotification" />
        <activity android:name=".admin_module.AddSessinal" />
        <activity android:name=".admin_module.StudentView" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentDashBoard" />
        <activity android:name=".StudentRegister" />
        <activity android:name=".admin_module.FeedbackView" />
        <activity android:name=".student.ViewSyllabus" />
        <activity android:name=".student.ViewTimetable" />
        <activity android:name=".student.ViewAttandance" />
        <activity android:name=".student.ViewNotes" />
        <activity android:name=".student.ViewTutorial" />
        <activity android:name=".student.ViewAssignmnet" />
        <activity android:name=".student.ViewNotification" />
        <activity android:name=".student.ViewSessional" />
        <activity
            android:name=".student.TrailVideo_Web"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".student.FeedBackActivity" />
        <activity android:name=".student.ProfileUpdation"></activity>
    </application>

</manifest>